@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

@layer utilities {
  .max-container {
    @apply max-w-[1440px] mx-auto;
  }

  .cta-button {
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }

  .cta-button::before {
    content: "";
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    background: conic-gradient(
      from 90deg,
      rgb(0 0 0 / 0%) 75%,
      rgba(148, 33, 248, 0.297) 80%,
      rgba(199, 162, 227, 0.846) 95%,
      rgba(255, 238, 255, 0.95) 100%
    );
    animation: rotate 10s infinite;
  }

  .cta-button::after {
    content: "Buy Now";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 9999px;
    top: 4%;
    bottom: 4%;
    left: 3%;
    right: 3%;
    width: 94%;
    height: 94%;
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }
}

.cta-button:hover + .overlay {
  opacity: 1;
  visibility: visible;
}

.hud {
  animation: spin1 10s infinite linear;
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
